#Unneeded project files
*.sdf
*.response
*.exp
*.sln
*.suo
SpaceShooterEditor/
DebugGame/
*.opensdf
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
SpaceShooter/Intermediate/Build/BuildRules/ProjectFileGeneratorModuleRules.pdb
SpaceShooter/Intermediate/ProjectFiles/SpaceShooter.vcxproj.filters
SpaceShooter/Intermediate/ProjectFiles/SpaceShooter.vcxproj.filters
SpaceShooter/Saved/Config/Windows/EditorLayout.ini
SpaceShooter/Saved/Config/Windows/EditorLayout.ini
SpaceShooter/Saved/Config/Windows/EditorUserSettings.ini
SpaceShooter/Saved/Logs/SpaceShooter.log
SpaceShooter/Intermediate/ReimportCache/3688439234.bin
SpaceShooter/Intermediate/ProjectFiles/UE4.vcxproj.filters
SpaceShooter/Intermediate/ProjectFiles/SpaceShooter.vcxproj.user
SpaceShooter/Intermediate/ProjectFiles/SpaceShooter.vcxproj.filters
SpaceShooter/Intermediate/CachedAssetRegistry.bin
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/DependencyCache.bin
SpaceShooter/Intermediate/Build/Unused/SpaceShooter.log
SpaceShooter/Intermediate/Build/BuildRules/SpaceShooter_EditorRecompileModuleRules.pdb
SpaceShooter/Intermediate/Build/BuildRules/SpaceShooterEditorModuleRules.pdb
SpaceShooter/Intermediate/Build/BuildRules/ProjectFileGeneratorModuleRulesSourceFiles.txt
SpaceShooter/Intermediate/Build/BuildRules/ProjectFileGeneratorModuleRules.pdb
SpaceShooter/Intermediate/Build/BuildRules/ProjectFileGeneratorModuleRules.pdb
SpaceShooter/Intermediate/Build/BuildRules/ProjectFileGeneratorModuleRules.pdb
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/DebugGame/SpaceShooter/PCH.SpaceShooter.SpaceShooter.h.cpp
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/DebugGame/SpaceShooter/SpaceShooter.h
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/DebugGame/UnrealHeaderTool.manifest
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/Development/SpaceShooter/PCH.SpaceShooter.SpaceShooter.h.cpp
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/Development/SpaceShooter/SpaceShooter.h
SpaceShooter/Intermediate/Build/Win64/SpaceShooterEditor/Development/SpaceShooter/PCH.SpaceShooter.SpaceShooter.h.cpp
SpaceShooter/Intermediate/Build/Win64/Inc/SpaceShooter/SpaceShooter.generated.cpp
SpaceShooter/Intermediate/Build/Win64/Inc/SpaceShooter/Timestamp
